.form {
  width: 680px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  color: #004C9B;
}

.form-header {
  margin-bottom: 3rem;
  margin-left: 250px;
  justify-content: space-between;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input {
  margin: 0.6rem 1rem;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #004b9b57;
  font-size: 0.8rem;
  color: #004C9B;
}

.input-box label,
.gender-title h6 {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 600;
  color: #004C9B;
}

.input-box input::placeholder {
  color: #004b9b81;
}

.gender-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 .5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #004C9B;
}



.continue-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown.active .dropdown-content {
  display: block;
}